extends layout 


mixin inputbox(labelText,inputType,inputId)
 .input-box
    label= labelText
    input(type=inputType id=inputId)

mixin inputbox-pass(labelText,inputId)
 .input-box
    label= labelText
    input(type="password" placeholder="************" id=inputId)

block content 
    .reset
        form.reset
            +inputbox("E-mail","text","email")
            +inputbox-pass("Nova senha","passwd")
            +inputbox-pass("Confirme nova senha","confirmPass")

            button Confirmar
